* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}
@keyframes moveText {
  from {
    transform: translateX(20%);
  }
  to {
    transform: translateX(-100%);
  }
}
